<h1>Add a new word!</h1>

<form action="/words" method="post">
  <div class="form-group">
    <label for="dictionairy_word">Whats the word!!</label>
    <input id="n" name="dictionairy_word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
